.App {
  font-family: sans-serif;
  text-align: center;
  width: 85vw;
}

.fl {
  display: flex;
}

.center {
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: space-between;
}

.name {
  color: grey;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}
.pin {
  color: blue;
}

.green {
  color: green;
  font-size: 24px;
}

.blue {
  color: blue;
  padding: 10px;
  background-color: lightblue;
}
