.App {
  font-family: sans-serif;
  text-align: center;
  width: 75vw;
}

.fl {
  display: flex;
}

.center {
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: space-between;
}

.name {
  color: grey;
  padding: 10px;
}
.pin {
  color: blue;
}

.green {
  color: green;
  font-size: 24px;
}
