.App {
  font-family: sans-serif;
  text-align: center;
  width: 85vw;
}

.fl {
  display: flex;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: space-between;
}

.app-title {
  font-size: 16px;
  padding: 10px;
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
}

.name {
  color: grey;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}
.pin {
  color: blue;
  font-size: 12px;
}

.green {
  color: darkgreen;
  font-size: 22px;
  font-weight: bold;
}

.available-block {
  padding: 5px;
  width: 100%;
  background-color: lightcyan;
}

.blue {
  color: blue;
  padding: 10px;
  background-color: lightblue;
}

.red {
  color: tomato;
  padding: 10px;
  background-color: lightpink;
}
